body { 
  padding-top: 60px; 
  padding-bottom: 55px; 
  background: url('/bg.jpg');
}

footer p {
  background: rgba(214, 192, 147, .9);
}

.nowrap {
  white-space:nowrap;
}

#banner img {
  width: 100%;
}

.text-muted {
  
}
.navbar
{
    
}
